.main {
  margin-top: 100px;
}

img {
  display: block;
  width: 550px;
  margin: auto;
}

input {
  display: block;
  padding: 9px 18px;
  margin: 50px auto 50px auto;
  border: 2px solid rgb(184, 180, 180);
  border-radius: 20px;
  width: 600px;
}

button {
  padding: 7px 14px;
  margin: 0 auto 0 auto;
  background-color: rgb(141, 140, 140);
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.btn-group {
  text-align: center;
}